service: ${file(../config.cjs):config.serviceName}-auth
frameworkVersion: "3"

plugins:
  - serverless-iam-roles-per-function

provider:
  name: aws
  runtime: nodejs16.x
  region: ${file(../config.cjs):config.region}
  stage: ${file(../config.cjs):config.stage}
  tracing:
    apiGateway: true
    lambda: true
  environment:
    LOG_LEVEL: debug
    TABLE_NAME: !Ref Table
    POWERTOOLS_SERVICE_NAME: auth
    POWERTOOLS_METRICS_NAMESPACE: auth
    CLIENT_ID: !Ref UserPoolClient
    BASE_URL: https://${self:custom.domainName}
    USER_POOL_DOMAIN: ${self:custom.userPoolDomain}

custom:
  domainName: ${file(../config.cjs):config.domain}
  userPoolDomain: ${file(./unique-user-pool-domain.cjs):name}

functions:
  createDeviceAuthorizationRequest:
    handler: device-auth-handler.handleEvent
    events:
      - httpApi:
          method: POST
          path: "/device_authorization"
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:PutItem
        Resource:
          - !GetAtt Table.Arn

  verifyDeviceAuthorizationRequest:
    handler: code-verification-handler.handleEvent
    events:
      - httpApi:
          method: GET
          path: "/verify"
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:UpdateItem
        Resource:
          - !GetAtt Table.Arn
      - Effect: Allow
        Action:
          - dynamodb:Query
        Resource:
          - !Sub "${Table.Arn}/*"

  processIdpCallback:
    handler: idp-callback-handler.handleEvent
    events:
      - httpApi:
          method: GET
          path: "/callback"
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:UpdateItem
        Resource:
          - !GetAtt Table.Arn
      - Effect: Allow
        Action:
          - dynamodb:Query
        Resource:
          - !Sub "${Table.Arn}/*"

  retrieveToken:
    handler: token-handler.handleEvent
    events:
      - httpApi:
          method: POST
          path: "/token"
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:GetItem
        Resource:
          - !GetAtt Table.Arn

resources:
  Resources:
    CustomDomainPathMapping:
      Type: AWS::ApiGatewayV2::ApiMapping
      Properties:
        ApiId: !Ref HttpApi
        ApiMappingKey: "auth"
        DomainName: ${self:custom.domainName}
        Stage: !Ref HttpApiStage

    UserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: ${file(../config.cjs):config.serviceName}-user-pool-${sls:stage}
        UsernameAttributes: [email]
        AutoVerifiedAttributes: [email]
        AdminCreateUserConfig:
          AllowAdminCreateUserOnly: true
        Policies:
          PasswordPolicy:
            MinimumLength: 12
            RequireLowercase: false
            RequireUppercase: false
            RequireNumbers: false
            RequireSymbols: false
        Schema:
          - AttributeDataType: String
            Mutable: true
            Name: tenant
            StringAttributeConstraints:
              MinLength: '2'
              MaxLength: '16'
          - AttributeDataType: String
            Mutable: true
            Name: tier
            StringAttributeConstraints:
              MinLength: '2'
              MaxLength: '16'

    UserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: user-pool-client-${sls:stage}
        ExplicitAuthFlows:
          - ALLOW_USER_SRP_AUTH
          - ALLOW_REFRESH_TOKEN_AUTH
        RefreshTokenValidity: 30
        SupportedIdentityProviders:
          - COGNITO
        WriteAttributes:
          - email
        CallbackURLs:
          - https://${self:custom.domainName}/auth/callback
        DefaultRedirectURI: https://${self:custom.domainName}/auth/callback
        AllowedOAuthFlowsUserPoolClient: true
        AllowedOAuthFlows:
          - code
        AllowedOAuthScopes:
          - openid
        UserPoolId: !Ref UserPool

    UserPoolDomain:  
      Type: AWS::Cognito::UserPoolDomain
      Properties:
        Domain: ${self:custom.userPoolDomain}
        UserPoolId: !Ref UserPool

    UserPoolUICustomization:
      Type: AWS::Cognito::UserPoolUICustomizationAttachment
      Properties:
        ClientId: !Ref UserPoolClient
        CSS: ${file(./user-pool-css.cjs)}
        UserPoolId: !Ref UserPool

    UserPoolId:
      Type: AWS::SSM::Parameter
      Properties:
        Name: /weshare/${sls:stage}/userPoolId
        Type: String
        Value: !Ref UserPool

    UserPoolClientId:
      Type: AWS::SSM::Parameter
      Properties:
        Name: /weshare/${sls:stage}/userPoolClientId
        Type: String
        Value: !Ref UserPoolClient

    Table:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: pk
            AttributeType: S 
          - AttributeName: sk
            AttributeType: S 
          - AttributeName: gsi1pk
            AttributeType: S 
          - AttributeName: gsi1sk
            AttributeType: S 
          - AttributeName: gsi2pk
            AttributeType: S 
          - AttributeName: gsi2sk
            AttributeType: S
        PointInTimeRecoverySpecification:
          PointInTimeRecoveryEnabled: true
        SSESpecification:
          SSEEnabled: true
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        KeySchema:
          - AttributeName: pk
            KeyType: HASH
          - AttributeName: sk
            KeyType: RANGE
        TimeToLiveSpecification:
          AttributeName: expiration
          Enabled: true
        GlobalSecondaryIndexes:
          - IndexName: gsi1
            KeySchema:
              - AttributeName: gsi1pk
                KeyType: HASH
              - AttributeName: gsi1sk
                KeyType: RANGE
            ProvisionedThroughput:
              ReadCapacityUnits: 1
              WriteCapacityUnits: 1
            Projection:
              ProjectionType: ALL
          - IndexName: gsi2
            KeySchema:
              - AttributeName: gsi2pk
                KeyType: HASH
              - AttributeName: gsi2sk
                KeyType: RANGE
            ProvisionedThroughput:
              ReadCapacityUnits: 1
              WriteCapacityUnits: 1
            Projection:
              ProjectionType: ALL